<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Password Reset</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>$(document).ready(function() {
			$('form').on('submit', function() {
				var userPass = $(this).find('input[name=userPass]').val();
				var userPassCheck = $(this).find('input[name=userPassCheck]').val();
				
				if(userPass != userPassCheck) {
					alert("Password does not match. Please re-enter.");
					
					return false;
				}
				
				
			});
		});
</script>
</head>
<body>

	<div th:replace="/fragments/common.html :: fragment-body-menu"></div>

	<div th:if="${result eq true}">
		<form method="post">
		<div th:text="${uuid}">
		</div>
		<div th:text="${parameter}">
		</div>
		
		<div>
			<input type="password" name="userPass" placeholder="Password" required/>
		</div>
		<div>
			<input type="password" name="userPassCheck" placeholder="passwordCheck" required/>
		</div>
		<div>
			<button type="submit">Reset My Password</button>
		</div>
	
	</form>
	</div>
	<div th:if="${result eq false}">
		<p>This is not a valid data.</p>
		<div>
			<a href="/">main page</a>
		</div>
	</div>
	
	
	
</body>
</html>