@charset "UTF-8";

.main {
	margin-top: 25px;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}

.button-style {
	font-size: 18px;
	font-weight: 600;
	color: black;
	background-color: white;
	text-decoration: none;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	padding: 8px;	
}

.button-style:hover {
	color: white;
	background-color: black;
	}

.diff {
	color: gray;
	border-color: lightgray;
	padding: 9px;
}

.diff-style {
	font-size: 18px;
	font-weight: 600;
	color: gray;
	border-color: lightgray;
	padding: 9px;
	text-decoration: none;
	border-style: solid;
	border-radius: 5px;
}

.diff-style:hover {
	color: white;
	background-color: lightgray;
}